.block {
  width: 220px;
  background-color: rgb(212, 212, 212);
  border-radius: 12px;
  padding: 10px;
}

.rounded-icon {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background-image: url("/avatar.png");
  background-size: cover;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
}

.description {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgb(212, 212, 212);
  border-radius: 12px;
  width: 220px;
}

h2 {
  font-weight: 900;
  color: black;
}

p {
  color: rgb(106, 106, 106);
  font-size: large;
}

.boards {
  display: flex;
  justify-content: center;
}

.boards:first-child {
  padding-left: 0;
}

.xolving {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background: rgb(245,144,47);
  background: linear-gradient(129deg, rgba(245,144,47,1) 0%, rgba(250,76,76,1) 100%);
  border-radius: 12px;
  width: 220px;
  height: 350px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.xolving p {
  color: rgb(243, 243, 243);
  font-size: x-large;
}

a {
  text-decoration: none;
}

.warning {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  
  background-image: url('/warning.svg');
  background-size: cover; /* 배경 이미지 크기 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 설정 */
  border-radius: 12px;
  width: 220px;
  height: 220px;
}

.blue-color {
  background: rgb(47,99,245);
  background: linear-gradient(129deg, rgba(47,99,245,1) 0%, rgba(76,236,250,1) 100%);
}

.red-color {
  background: rgb(245, 93, 47);
  background: linear-gradient(129deg, rgb(225, 90, 56) 0%, rgb(224, 131, 32) 100%);
}

.white-font {
  color: white;
}

.logos * {
  margin: 6px;
}