body {
  padding: 0;
  margin: 0;
}

.block {
  margin: 5px;
  margin-left: 40px;
}

.rounded-icon {
  background-color: white;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  padding: 10px
}

.description {
  width: 240px;
  background-color: rgb(212, 212, 212);
  border-radius: 12px;
  padding: 10px;
}

h2 {
  font-weight: 900;
  color: black;
}

.subtitle {
  color: rgb(86, 86, 86);
}
