.block {
  width: 220px;
  background-color: rgb(212, 212, 212);
  border-radius: 12px;
  padding: 10px;
}

.rounded-icon {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background-image: url("/avatar.png");
  background-size: cover;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
}

.description {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgba(242, 252, 243, 0.72);
  border-radius: 8px;
  width: 220px;
}

.post {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgba(242, 252, 243, 0.72);
  border-radius: 8px;
  width: 500px;
  height: 147px;
}

h2 {
  font-weight: 900;
  color: rgb(0, 0, 0);
}

p {
  color: rgb(0, 0, 0);
  font-size: large;
}

.boards {
  display: flex;
  justify-content: center;
  margin: 20vh;
}

.boards:first-child {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.blue-color {
  background: rgb(47,99,245);
  background: linear-gradient(129deg, rgba(47,99,245,1) 0%, rgba(76,236,250,1) 100%);
}

.red-color {
  background: rgb(245, 93, 47);
  background: linear-gradient(129deg, rgb(225, 90, 56) 0%, rgb(224, 131, 32) 100%);
}

.white-font {
  color: white;
}

.logos * {
  margin: 6px;
}